<ng-container *ngIf="active; else elseBlock">
  <div (click)="turnCard()" [class]="['cardBox', cardFace]">
    <ng-container [ngTemplateOutletContext]="{cardClass:'front'}"
                  [ngTemplateOutlet]="tplCard"></ng-container>
    <ng-container [ngTemplateOutletContext]="{cardClass:'back'}"
                  [ngTemplateOutlet]="tplCard"></ng-container>
  </div>
  <ng-template #tplCard let-cardClass="cardClass">
    <mat-card [class]="cardClass" [style]="styleForCard">
      <mat-card-actions top>
        <button (click)="clickEdit($event)" *ngIf="globals.filterCards == null" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-content view>
        <div *ngIf="cardClass==='back'" [innerHTML]="globals.cardText(currentCard,'front', true)" small></div>
        <div [innerHTML]="globals.cardText(currentCard, cardClass)" content></div>
      </mat-card-content>
      <mat-card-actions *ngIf="cardClass==='front'" bottomfront>
        <button (click)="clickDelete($event)" *ngIf="globals.filterCards == null" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-actions *ngIf="cardClass==='back'" bottomback>
        <button (click)="clickResult($event, 'correct')" correct extended mat-fab>
          <mat-label i18n>Correct</mat-label>
          <mat-icon>thumb_up</mat-icon>
        </button>
        <button (click)="clickResult($event, 'wrong')" extended mat-fab wrong>
          <mat-label i18n>Wrong</mat-label>
          <mat-icon>thumb_down</mat-icon>
        </button>
        <button (click)="clickResult($event, 'unsteady')" extended mat-fab unsteady>
          <mat-label i18n>Unsteady</mat-label>
          <mat-icon>thumbs_up_down</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</ng-container>
<ng-template #elseBlock>
  <mat-card [class]="'front'" [style]="styleForCard">
    <mat-card-content view>
      <div [innerHTML]="globals.cardText(currentCard, 'front')" content></div>
    </mat-card-content>
  </mat-card>
</ng-template>
