:host {
  perspective: 1000px;
}

.cardBox {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: bottom center;
  position: relative;

  mat-card {
    position: absolute;
  }
}

form {
  mat-card {
    position: relative;
  }
}

.cardBox.back {
  transform: translateY(-100%) rotateX(180deg);
}

mat-card {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

mat-card.front {
}

mat-card.back {
  transform: rotateX(-180deg);
}

mat-card {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  max-height: 100%;

  ::ng-deep {
    .NgxEditor__MenuBar,
    .NgxEditor {
      background: transparent;
      color: inherit;
    }

    .NgxEditor__MenuItem.NgxEditor__MenuItem--Active,
    .NgxEditor__MenuItem .NgxEditor__MenuItem--Active {
      background: var(--mat-standard-button-toggle-text-color);
      color: var(--mat-standard-button-toggle-background-color);
    }
  }

  ::ng-deep .NgxEditor {
    max-height: calc(var(--doc-height) * 0.4);
    overflow-y: auto;
  }

  mat-card-title-group {
    display: flex;
    flex-flow: column;
    margin-bottom: 1em;
  }

  mat-card-content[view] {
    align-items: center;
    justify-content: center;
    font-size: 2em;
    overflow-y: auto;

    [content] {
      pointer-events: none;
    }
  }

  ::ng-deep code {
    font-family: monospace, monospace;
    background-color: #eee;
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 75%;
    display: block;
  }

  mat-card-content {
    display: flex;
    flex: 1;
    flex-flow: column;

    [small] {
      font-size: 75%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      opacity: 0.7;
      pointer-events: none;
    }

    [categories] {
      display: flex;
      flex-flow: row;
      flex: 1;

      mat-form-field {
        flex: 1;
      }
    }

    mat-form-field {
      display: flex;
      flex: 1;
    }
  }

  mat-card-actions[edit] {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  mat-card-actions[top] {
    position: absolute;
    right: 0;
    top: 0;
  }

  mat-card-actions[bottomfront] {
    position: absolute;
    right: 0;
    bottom: 0;
    justify-content: flex-end;
  }

  mat-card-actions[bottomback] {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

    [correct] {
      background-color: lime;
      color: black;
    }

    [unsteady] {
      background-color: yellow;
      color: black;
    }

    [wrong] {
      background-color: red;
      color: white;
    }
  }
}

mat-chip-row {
  ::ng-deep .mat-mdc-chip-action-label {
    line-height: 0;
  }
}

.mat-mdc-chip-remove {
  opacity: 0.9;
}
