:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

[cardview] {
  display: flex;
  width: 100%;
  flex: 1;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  button[nav] {
    height: 50%;

    mat-icon {
      font-size: 3em;
      width: initial;
      height: initial;
    }

    flex: 1;
  }

  app-card {
    width: 60%;
    height: 80%;
  }
}

[addBtn] {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  background-color: var(--mainHeadBack);
  color: var(--mainHeadFore);
}

