<div [ngStyle]="{backgroundColor: 'rgba(' + color.value[0] + ',0,0)'}" col-r>
  <mat-slider max="255" min="0" vertical>
    <input (change)="rgbChange()" matSliderThumb [(ngModel)]="color.value[0]" #slider>
  </mat-slider>
</div>
<div [ngStyle]="{backgroundColor: 'rgba(0,' + color.value[1] + ',0)'}" col-g>
  <mat-slider max="255" min="0" vertical>
    <input (change)="rgbChange()" matSliderThumb [(ngModel)]="color.value[1]" #slider>
  </mat-slider>
</div>
<div [ngStyle]="{backgroundColor: 'rgba(0,0,' + color.value[2] + ')'}" col-b>
  <mat-slider max="255" min="0" vertical>
    <input (change)="rgbChange()" matSliderThumb [(ngModel)]="color.value[2]" #slider>
  </mat-slider>
</div>
<div col-h>
  <mat-slider max="360" min="0" vertical>
    <input matSliderThumb [(ngModel)]="hue" #slider>
  </mat-slider>
</div>
<div col-s>
  <mat-slider max="100" min="0" vertical>
    <input matSliderThumb [(ngModel)]="saturation" #slider>
  </mat-slider>
</div>
<div col-l>
  <mat-slider max="100" min="0" vertical>
    <input matSliderThumb [(ngModel)]="lightness" #slider>
  </mat-slider>
</div>
