<!--
<button (click)="checkDB()">Mach mal</button>
<textarea style="width:90vw;height:80vh">{{checkDB()}}</textarea>
-->
<div mainpanel>
  <div toolbar>
    <div>
      <button (click)="globals.isDebug = !globals.isDebug" *ngIf="globals.mayDebug" id="debug" mat-icon-button>
        <mat-icon *ngIf="!globals.isDebug">bug_report</mat-icon>
        <mat-icon *ngIf="globals.isDebug">pest_control</mat-icon>
      </button>
      <button (click)="sync.toggleSyncDropbox()" id="sync" mat-icon-button>
        <ng-container *ngIf="!sync.hasSync">
          <mat-icon>sync_disabled</mat-icon>
        </ng-container>
        <ng-container *ngIf="sync.hasSync">
          <img alt="dropbox" src="../../../assets/images/dropbox.png">
        </ng-container>
      </button>
      <button (click)="onClick('whatsnew')" id="whatsnew" mat-icon-button>
        <mat-icon>info_outline</mat-icon>
      </button>
      <button (click)="onClick('impressum')" id="impressum" mat-icon-button>
        <mat-icon>account_balance</mat-icon>
      </button>
      <button (click)="onClick('welcome')" id="welcome" mat-icon-button>
        <mat-icon>emoji_people</mat-icon>
      </button>
      <button (click)="onClick('cardlist')" [class]="classFor('cardlist')" id="cardlist" mat-icon-button>
        <mat-icon>list</mat-icon>
      </button>
      <button (click)="onClick('cardbox')" [class]="classFor('cardbox')" id="cardbox" mat-icon-button>
        <mat-icon>school</mat-icon>
      </button>
    </div>
    <div>
      <div *ngFor="let item of ls.languageList; let idx = index" [ngStyle]="{zIndex:1000-idx}"
           class="btnLanguage">
        <button (click)="clickLanguage(item)" [class]="classForLanguage(item)" mat-icon-button>
          <img alt="language image" class="language" src="{{item.imgPath}}">
        </button>
        <a *ngIf="item.crowdin != null" [href]="item.crowdin.languageUrl" class="crowdin" target="_blank" title="Crowdin">
          <img [src]="item.crowdin.languageBadgeUrl" alt="{{item.crowdin.langName}} proofreading">
        </a>
      </div>
      <app-close-button [data]="closeData"></app-close-button>
    </div>
  </div>
  <div content>
    <app-card-box *ngIf="globals.currentPage==='cardbox'"></app-card-box>
    <app-card-list *ngIf="globals.currentPage==='cardlist'"></app-card-list>
  </div>
</div>
<app-progress></app-progress>
<div hidden id="mark"></div>
